<div class='container'>
  <h1>New Game</h1>
  <ul>
    <% @letters.each do |letter| %>
    <li><%= letter %></li>
    <% end %>
  </ul>

  <form action="/score" method="post">
    <input type="text" name="word">
    <input type="submit" value="Submit">
    <input name="letters" type="hidden" value=<%= @letters.join %> />
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  </form>
</div>


